<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>智慧集装箱系统</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>

    <script type="text/javascript" src="js/device.js"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=Ssu7GCDBH4NyjyNmWxY3W5bGphj8UpNC"></script>

</head>
<body>
<header>
    智慧集装箱系统
    <span id=localtime style=" font-size:14px; position: absolute; right: 30px; top:-20px; "></span>
</header>
<div id="content">
    <div class="content_top">
        <div class="ligCoutNav h" id="ligCoutNav">
            <ul>
                <li class="navActive" id="device1" style="color: green" data-index="0" @click="deviceChoice(1)">集装箱1</li>
                <li data-index="1" id="device2" @click="deviceChoice(2)">集装箱2</li>
<!--                <li data-index="2" id="device3" @click="deviceChoice(3)">集装箱3</li>-->
            </ul>
        </div>
    </div>
    <div class="content_left">
        <div class="dtuplc">
            <div class="topcontainer">
                <div class="toptitle" >设备状态</div>
                <img id="deviceIcon" src="" alt="Device Icon">
                <div id="deviceStatus" ></div>
            </div>
        </div>
        <!--
            DTU和PLC完
        -->
        <div class="online">
            <div class="title"><img src="images/icon01.png"/> 集装箱湿度</div>
            <div class="online_con" id="containersd">

            </div>
        </div>
        <div class="industry">
            <div class="title"><img src="images/icon02.png"/> 光照强度</div>
            <div class="industry_con" id="containergz"></div>
        </div>
    </div>
    <div class="content_center">
        <div class="center_top">
            <div class="title"><img src="images/icon03.png"/> 集装箱位置</div>
            <div class="center_top_con" id="distribution_map">
            </div>
        </div>
        <div class="center_bot">
            <table class="panel-table" bordercolor="#0d48e0" border="1">
                <thead bgcolor="#0e4ae0" align="center">
                <tr height="40">
                    <th colspan="3"><img src="images/icon04.png"/> 监控列表</th>
                </tr>
                </thead>
                <tbody>
                <tr class="aaa" align="center">
                    <td v-for="item in factoryHeader" style="color: #00fcff; font-size: 18px; padding: 5px 0;">
                        {{ item.categories }}
                    </td>
                </tr>
                <tr v-for="y in factory.slice(0,4)" class="aaa" style="font-size: 16px;" align="center">
                    <td>{{ y.valueType }}</td>
                    <td>{{ y.value }}</td>
                    <td width="250">
                        <button class="b1 click_pop">报警记录</button>
                        <button class="b2 click_pop2" onclick="downloadExcelFile()">历史数据</button>
<!--                        <button class="b3 click_pop3">组态应用</button>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="topcontainer">
                <div><img src="images/logo.png" style="background-color: rgba(255, 255, 255, 0.5); "></div>
                <div class="toptitle">解释器说得队</div>
            </div>
        </div>
    </div>
    <div class="content_right">
        <div class="report" >
            <div class="topcontainer">
                <div class="toptitle" >火情警报</div>
                <img id="fireIcon" src="" alt="Fire Icon">
                <div id="fireStatus" style="font-size: 15px;"></div>
            </div>
        </div>
        <div class="news_report">
            <div class="title"><img src="images/icon05.png"/> 集装箱温度</div>
            <div class="news_list" id="containerwd">
            </div>
        </div>
        <div class="data_box">
            <div class="title"><img src="images/icon06.png"/> 气压强度</div>
            <div class="data_con" id="containerqy">
            </div>
        </div>
    </div>
</div>
<!--遮罩层-->
<!--<div class="bgPop"></div>-->
<!--&lt;!&ndash;弹出框&ndash;&gt;-->
<!--<div class="pop">-->
<!--    <div class="pop-top">-->
<!--        报警记录-->
<!--        <span class="pop-close">Ｘ</span>-->
<!--    </div>-->
<!--    <div class="pop-content">-->
<!--        <table class="panel-table" bordercolor="#deefff" border="1">-->
<!--            <thead bgcolor="#971212" align="center">-->
<!--            <tr height="38">-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->

<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="pop-foot">-->
<!--        <input type="button" value="确定" class="pop-cancel pop-close">-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('.pop-close').click(function () {-->
<!--            $('.bgPop,.pop').hide();-->
<!--        });-->
<!--        $('.click_pop').click(function () {-->
<!--            $('.bgPop,.pop').show();-->
<!--        });-->
<!--    })-->
<!--</script>-->
<!--&lt;!&ndash;遮罩层&ndash;&gt;-->
<!--<div class="bgPop2"></div>-->
<!--&lt;!&ndash;弹出框&ndash;&gt;-->
<!--<div class="pop2">-->
<!--    <div class="pop-top">-->
<!--        历史记录-->
<!--        <span class="pop-close">Ｘ</span>-->
<!--    </div>-->
<!--    <div class="pop-content">-->
<!--        <table class="panel-table" bordercolor="#deefff" border="1">-->
<!--            <thead bgcolor="#10aaa5" align="center">-->
<!--            <tr height="38">-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--                <th>字段</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->

<!--            <tr class="aaa" style="font-size: 16px;" align="center">-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>&nbsp;</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="pop-foot">-->
<!--        <input type="button" value="确定" class="pop-cancel pop-close">-->
<!--    </div>-->
<!--</div>-->
<script>
    $(document).ready(function () {
        $('.pop-close').click(function () {
            $('.bgPop2,.pop2').hide();
        });
        $('.click_pop2').click(function () {
            $('.bgPop2,.pop2').show();
        });
    })

</script>
<!--遮罩层-->
<div class="bgPop3"></div>
<!--弹出框-->
<div class="pop3">
    <div class="pop-top">
        组态应用
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
        组态应用
    </div>
    <div class="pop-foot">
        <input type="button" value="确定" class="pop-cancel pop-close">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.pop-close').click(function () {
            $('.bgPop3,.pop3').hide();
        });
        $('.click_pop3').click(function () {
            $('.bgPop3,.pop3').show();
        });
    })

</script>

<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/echarts.js"></script>
<!--<script type="text/javascript" src="js/echarts.min.js"></script>-->
<script type="text/javascript" src="js/china.js"></script>
<script type="text/javascript" src="js/mqtt.min.js"></script>
<script type="text/javascript" src="js/mqtt-client.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/times.js"></script>
<!--<script type="text/javascript" src="js/DTU.js"></script>-->
<!--<script type="text/javascript" src="js/PLC.js"></script>-->
<script type="text/javascript" src="js/humidity.js"></script>
<script type="text/javascript" src="js/temprature.js"></script>
<script type="text/javascript" src="js/pressure.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/light.js"></script>
<script type="text/javascript" src="js/device.js"></script>
<script type="text/javascript" src="js/fire.js"></script>
<script type="text/javascript" src="js/downloadfile.js"></script>

</body>
<script type="text/javascript" src="js/map.js"></script>

<!--<script>BMapUpdate</script>-->
</html>
